* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
a:link {
  text-decoration: none;
}
:root {
  --menu-text: #4a4a4a;
  --main-backround: #3cdbc0;
  --main-text: #ffffff;
}
/*----HEADER----*/
.header-container {
  background-color: white;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.logo-container {
  width: 155px;
  margin-top: 10px;
}
.logo {
  width: 100%;
}
.menu {
  padding-top: 10px;
  padding-bottom: 13px;
}
.list-item {
  text-decoration: none;
  display: inline-block;
}
.menu-link {
  color: var(--menu-text);
  font-size: 16px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 13px;
  text-transform: uppercase;
}

/*----MAIN----*/
.main-container {
  background-color: var(--main-backround);
  height: 100vh;
  position: relative;
  top: 117px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.main-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}
.main-text-item {
  font-size: 30px;
  color: var(--main-text);
}
/*----MEDIAQUERIES----*/
@media all and (min-width: 768px) {
  /*----header----*/
  .header-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .logo-container {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
  }
  .menu {
    padding: 0;
    margin-right: 20px;
  }
  /*----MAIN----*/
  .main-container {
    top: 105px;
  }
  .main-text-container {
    font-size: 40px;
  }
